.texttome-wrap h2{color:green;}
.texttome-wrap table.widefat{padding: 15px;background-color:#303030;}
.texttome-wrap label{color: #fafafa;}
.texttome-wrap td.first-column{border-bottom: 1px dotted #f2f2f2;}
.texttome-wrap .notice{padding-top:12px;padding-bottom:12px;}
